/* Fondo General de la Pagina */
.container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHw%3D&w=1000&q=80"); */
  background-image: url("../img/Fondo.jpg");
}

/* Caja Transparente en el Contact */
.caja {
  width: 100%;
  height: 70%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
.caja-contenido {
  height: 90%;
}

.caja:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

/* Efecto de Rotacion en el About */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.slider {
  margin: auto 300px;
}
.slider--item-left .description img {
  width: 150px;
  height: 150px;
}
.slider--item-right .description img {
  width: 150px;
  height: 150px;
}

.slider--item-center .description img {
  width: 200px;
  height: 200px;
}

.slider .slider--item .icon-works a img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 50px;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 5px 15px 0 15px;
}
.slider--item .description img {
  align-items: center;
  /* position: relative; */
  object-position: center;
  object-fit: cover;
  margin: auto 600px;
  border-radius: 30px;
}
.caja-boton {
  width: 20px;
  height: 10px;
}
.contact-icons img {
  width: 50px;
}

.contact-icons {
  object-fit: contain;
  text-align: center;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 15px;
}
@media (min-width: 100px) {
  .contact-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .contact-icons {
    grid-template-columns: repeat(4, 1fr);
  }
}
.progress {
  margin: 40px 40px 40px 40px;
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 90%;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Estilos Globales */
.perspective {
  font-family: "Cinzel", serif;
}
